@media (max-width: 412px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  .titleSection{
        position: relative;
    }

  .titleSectionComponents {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 7vw;

    & p{
        margin-top: 2vw;
        font-size: 7vw;
        font-weight: 400;
        font-family: 'Rosarivo Regular';
        color: #EFE3C8;
    }
  }

  a {
    width: 5vw;
    height: 5vw;
    text-align: center;
    border-radius: 50%;
    /* background-color: beige; */
    position: absolute;
    top: 4vw;
    left: 3vw;

    & #chevron_back{
        fill: #EFE3C8;
    }
  }
}
